.bio {
	max-width: 600px;
	margin: 0 auto;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__avatar {
		img {
			max-width: 360px;
			border-radius: 50%;
		}
	}
	&__content {
		p {
			text-indent: 64px;
		}
	}
	&__social {
		display: flex;
		li {
			margin: 0 16px;
		}
		svg {
			font-size: 32px;
		}
	}
}
