.bio {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__avatar {
		img {
			max-width: 320px;
			border-radius: 50%;
			margin: 0 0 64px;
		}
	}
}
