.portfolio {
	&__list {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	&__item {
		padding: 128px 32px;
		&-container {
			display: flex;
			.reversed & {
				flex-direction: row-reverse;
			}
		}
		&:nth-child(1) {
			background: rgba(#000, .02);
		}
		&:nth-child(2) {
			background: rgba(#000, .04);
		}
		&:nth-child(3) {
			background: rgba(#000, .06);
		}
	}
	&__content {
		flex: 50%;
		position: relative;
		margin: 0 32px;
	}
	&__image {
		position: absolute;
		left: 0;
		bottom: -128px;
		width: 100%;
		overflow: hidden;
		transition: all .4s;
		max-height: calc(100% + 256px);
		&:hover {
			max-height: calc(100% + 128px + 256px);
		}	
		img {
			display: block;
			margin: 0 auto;
			width: 600px;
			max-width: 100%;
			box-shadow: 6px 6px 15px -4px rgba(0,0,0, 0.1), -6px 6px 8px -4px rgba(0,0,0, 0.1)
		}
	}
	&__title {
		text-align: left;
	}
}
