.skill {
	&__slider {
		display: flex;
		overflow-x: auto;
		margin: 0;
		padding: 0;
		&::-webkit-scrollbar {
			display: none;
		}
		li {
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			min-width: calc((100% / 4.5));
		}
		.webpack-icon {
			width: 160px;
			margin: 0 auto;
		}
		svg {
			font-size: 160px;
			max-width: 160px;
			margin: 0 auto 16px;
		}
		h3 {
			text-align: center;
			
		}
	}
}
