@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Montserrat:300');


body {
    color: #24292e;
}

h1,
h2,
h3 {
    font-family: 'Comfortaa';
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 62px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}

p {
    font-family: 'Montserrat';
    font-size: 18px;
}